body {
  background: #93cfc0;
}

.form {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  padding: 30px 30px 6px 30px;
  border: 5px solid rgba(172, 236, 222, 0.7);
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right top, #b39cd0, #c1aad8, #cfb8e0, #ddc7e9, #ead6f2, #e7dff9, #e7e7fd, #e9efff, #ddf2ff, #d0f6ff, #c5fafd, #c4fcef);
}

.field {
  width: 100%;
  height: 35px;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 4px;
  display:block;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  font-weight: 300;    
  padding-left:10px;
  padding-right:10px;
  margin:5px;
  background: rgba(255, 255, 255, 0.4);
}

.button {
  text-align: center;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, #845ec2, #906dc6, #9c7dc9, #a88ccd, #b39cd0); 
  padding: 10.5px 21px;
  border-radius: 15px;
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  text-shadow: #333333 0 1px 0;
  color: #3c1779;
  font-family: 'Open Sans', sans-serif;

}

.button_del {
  text-align: center;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, #ff6f91, #ff7887, #ff817e, #ff8c76, #ff9671);
  padding: 10.5px 21px;
  border-radius: 15px;
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  text-shadow: #333333 0 1px 0;
  color: #942c2c;
  font-family: 'Open Sans', sans-serif;

}

.button_edit {
  text-align: center;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, #ffc75f, #ffd361, #fedf65, #fcec6a, #f9f871);
  padding: 10.5px 21px;
  border-radius: 15px;
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  text-shadow: #4b4949 0 1px 0;
  color: #ff9671;
  font-family: 'Open Sans', sans-serif;

}


.tab {
  overflow: hidden;
  border: 1px solid #d3d3d3;
  background: #FBEAFF;
  width: 95%;
  margin: 1% auto 1%;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  font-weight: 300;    


}

.tab th,
td {
  padding: 18px 28px 18px;
  text-align: center;
}

.tab th {
  padding-top: 22px;
  text-shadow: 1px 1px 1px #fff;
  background-image: linear-gradient(to bottom, #b39cd0, #c6afdb, #d9c2e6, #ead6f2, #fbeaff);
}

.tab td {
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
