body {
  background: #93cfc0;
}

.form {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  padding: 30px 30px 6px 30px;
  border: 1px solid rgba(0,0,0,.8);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to left bottom, #976bd1, #9078d9, #8a85de, #8690e2, #849be5, #79a7ee, #70b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);}

.field {
  width: 100%;
  height: 35px;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 4px;
  display:block;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  font-weight: 300;    
  padding-left:10px;
  padding-right:10px;
  margin:5px;
  background: rgba(255, 255, 255, 0.4);
}

.button {
  width: 138px;
  height: 44px;
  margin-bottom: 20px;
  border: 1px solid #2c1436;
  background: #8a85de;
  background-image: -ms-linear-gradient(top, #8a85de 0%, #9078d9 100%);
  padding: 10.5px 21px;
  border-radius: 15px;
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  text-shadow: #333333 0 1px 0;
  color: #e1e1e1;
}
