.form {
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
    padding: 30px 30px 6px 30px;
    border: 5px solid hsl(166, 17%, 75%);
    border-radius: 15px;
    color: #a04971;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    background: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to left bottom, #f9dde1, #ebd3c8, #d3cbb7, #b6c4b1, #9dbab3);
}

.field {
    width: 100%;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 4px;
    display: block;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.4);
}

.button {
    text-align: center;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, #c07d9c, #d094ab, #dfacbb, #ecc4cd, #f9dde1);
    padding: 10.5px 21px;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #a04971;
    font-family: 'Comfortaa', cursive;

    a:hover {
        color: #521531;
    }

}

.button_edit {
    text-align: center;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, #dfacbb, #e6b8c4, #edc4cd, #f3d1d7, #f9dde1);
    padding: 10.5px 21px;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #521531;
    font-family: 'Comfortaa', cursive;
}


#maincontent {
    background: #746c6a;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;

}
h1{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}
.table {
    background: #dfedef;
    font-family: 'Comfortaa', cursive;


    th {
        background: #9dbab3;
        font-size: 22px;
        font-weight: bolder;
        color: #356459;
    }

    a {
        color: #356459;
    }
    a:hover{
        color: #a04971;
    }
}

.navbar {
    background: #c07d9c;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;

    .navbar-nav>li>a {
        color: #f9dde1 !important;
    }

    .navbar-nav>li>a:hover,
    .navbar-nav>li>a:focus {
        color: #dfedef !important;
    }

    .dropdown-menu {
        background: #f9dde1;

        a:hover{
            background: #a04971;
        }

        .dropdown-item {
            color: #c07d9c;
            font-weight: bolder;
        }
    }

}

.pagination {
    a {
        background: #f9dde1 !important;
        border-color: #ecc4cd;
        color: #a04971;
    }

    a:hover {
        color: #521531;
    }
}

#number {
    background: #c07d9c !important;
    border-color: #ecc4cd;

}

.current_user {
    margin-right: 0;
    font-size: 22px;
    color: #521531;
}

#active_th{
    color: #a04971 !important;
}

.navbar-toggler-icon{
    color: #521531;
}